{% load static %}

<footer>

    <p class="media">
    <a href="" target="_blank" rel="noopener" aria-label="Facebook - Opens in a new tab">
        <img src="{% static 'icons/facebook-app-icon.png' %}" alt="Facebook Icon" class="social-media">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
        <img src="{% static 'icons/ig-instagram-icon.png' %}" alt="Instagram Icon" class="social-media">
    </a>
    </p>
    <p class="address line bm-0">The Lewes Barber Shop, 17 Station Road, Lewes</p>
    <p class="contact line bm-0">Contact me at: 07785 532323</p>
    <p class="sarah media">Webiste by Sarah Todd <a href=""><img src="{% static 'icons/github-icon.png' %}" alt="Github Icon" class="git"></a></p>

</footer>   